body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;

}
header {
    width: 100%;
    height: 200px;
    background-color: #d3b014;
    color: white;
    padding: 10px;
    text-align: center;
    background-size: cover;
    background-position: center;

}
nav {
    overflow: hidden;   
}
nav ul li{
    display: inline;
    list-style-type: none;
    padding: 23px;
    font-size: 20px ;
}
nav a {
    color: red;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    padding: 5px;
    

}
nav a:hover {
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    text-decoration: underline;

}
section {
    padding: 20px;
}
footer {
    background-color: #1496d3;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #ec06e1;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
#no{
    text-decoration: overline underline;
}
.nom{
    color: white;
    font-weight: bold;
}
.bienvenue{
    color: black;
    font-weight: bold;
}
span{
    color: red;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.button:hover {
    background-color: #45a049;
}
img {
    max-width: 100%;
    height: auto;
}
.list-item {
    margin-bottom: 10px;
}
.list-item:hover {
    background-color: #f0f0f0;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table th {
    background-color: #f2f2f2;
    text-align: left;
}
.menu{
    display: none;
    font-size: 15px;
}
@media screen and (max-width:500px ) {

    .menu{
        width: 100%;
        height: 100vh;
        display: block;
    }
    nav{
        position: absolute;
        padding: 0;
        background-color: rgba(0, 3, 21, 0.6);
        margin-left: -100%;
        transition: all 1s ease;
        border-radius: 50px;
    }
    .active{
        margin-left: 0;
    }
    nav.active{
        display: flex;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    
}